<HTML>
	<HEAD>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<LINK href="/niit/Public/css1/Style1.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="/niit/Public/js1/jquery-1.11.3.min.js"></script>
		<script type="text/javascript">
		$(function(){
			//回显当前页面的option
			$("#dhospital option[value='{$doctor.dhospital }']").prop("selected",true);
			
			$("#dtype option[value='{$doctor.dtype }']").prop("selected",true);
			
			$("#ddepartment option[value='{$doctor.ddepartment }']").prop("selected",true);
			$("#dday option[value='{$doctor.dday }']").prop("selected",true);
		});
		</script>
	</HEAD>
	
	<body>
		<!--  -->
		<form id="userAction_save_do" name="Form1" action="{$smarty.const.__SELF__}" method="post">
			&nbsp;
			
			<input type="hidden" name="did" value="{$doctor.did}">
			
			<table cellSpacing="1" cellPadding="5" width="100%" align="center" bgColor="#eeeeee" style="border: 1px solid #8ba7e3" border="0">
				<tr>
					<td class="ta_01" align="center" bgColor="#afd1f3" colSpan="4"
						height="26">
						<strong><STRONG>更新医生信息</STRONG>
						</strong>
					</td>
				</tr>

				<tr>
					<td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
						医生名称：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						<input type="text" name="dname" value="{$doctor.dname }" id="userAction_save_do_logonName" class="bg"/>
					</td>
					<td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
						医生科室：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						
						<select id="ddepartment" name="ddepartment">
							<option value="内科">内科</option>
							<option value="外科">外科</option>
							<option value="妇产科">妇产科</option>
							<option value="中医科">中医科</option>
							<option value="心理科">心理科</option>
							
							
						</select>
					</td>
				</tr>
				<tr>
					<td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
						坐诊时间：
					</td>
					<td type="hideen" class="ta_01" bgColor="#ffffff">
						<select id="dday" name="dday">
							<option value="1">星期一</option>
							<option value="2">星期二</option>
							<option value="3">星期三</option>
							<option value="4">星期四</option>
							<option value="5">星期五</option>
							
						</select>
					</td>
					<td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
						医生职称：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						
						<select id="dtype" name="dtype">
							<option value="医师">医师</option>
							<option value="主治医师">主治医师</option>
							<option value="副主任医师">副主任医师</option>
							<option value="主任医师">主任医师</option>
							
							
						</select>
					</td>
				</tr>
				
				<tr>
					<td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
						选择医院：
					</td>
					<td class="ta_01" bgColor="#ffffff" colspan="3">
						<select id="dhospital" name="dhospital">
						
							{foreach $hospital as $k => $v}

								<option value="{$v.hname}">{$v.hname}</option>

							{/foreach}
							
							
							
						</select>
					</td>
				</tr>
				<tr>
					<td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
						医生简介：
					</td>
					<td class="ta_01" bgColor="#ffffff" colspan="3">
						<textarea name="ddescription" rows="10" cols="100">{$doctor.ddescription }</textarea>
					</td>
				</tr>
				<tr>
					<td class="ta_01" style="WIDTH: 100%" align="center"
						bgColor="#f5fafe" colSpan="4">
						<button type="submit" id="userAction_save_do_submit" value="确定" class="button_ok">
							&#30830;&#23450;
						</button>

						<FONT face="宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT>
						<button type="reset" value="重置" class="button_cancel">&#37325;&#32622;</button>

						<FONT face="宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT>
						<INPUT class="button_ok" type="button" onclick="history.go(-1)" value="返回"/>
						<span id="Label1"></span>
					</td>
				</tr>
			</table>
		
			
			
		</form>
	</body>
</HTML>