<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>菜单</title>
<link href="/niit/Public/css1/left.css" rel="stylesheet" type="text/css"/>
<link rel="StyleSheet" href="/niit/Public/css1/dtree.css" type="text/css" />
</head>
<body>
<table  width="100" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="12"></td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>
<div  class="dtree">

	<a hight:50px href="javascript: d.openAll();">展开所有</a> | <a href="javascript: d.closeAll();">关闭所有</a>
	
	
	
	<script type="text/javascript" src="/niit/Public/js1/dtree.js"></script>
	<script type="text/javascript">
	
		d = new dTree('d');
		d.add('01',-1,'系统菜单树');
		d.add('0102','01','管理员管理','','','mainFrame');
		d.add('010201','0102','管理员管理','{$smarty.const.__MODULE__}/Admin/showlist','','mainFrame');
		d.add('0104','01','医院管理');
		d.add('010401','0104','医院管理','{$smarty.const.__MODULE__}/Hospital/showlist','','mainFrame');
		d.add('0105','01','医生管理');
		d.add('010501','0105','医生管理','{$smarty.const.__MODULE__}/Doctor/showlist','','mainFrame');
		d.add('010502','0105','请假管理','{$smarty.const.__MODULE__}/Doctor/holiday','','mainFrame');
		document.write(d);
		
	</script>
</div>	</td>
  </tr>
</table>
</body>
</html>
